.container {
  padding: 0 2rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}

.blogItem {
  padding: 1rem 0;
}

.blogItem h3 {
  cursor: pointer;
}

.readMore {
  background: #000000;
  color: #fff;
  border-radius: 6px;
  padding: 3px 6px;
  font-size: small;
}

.author {
  display: block;
  margin-top: 0px;
  font-size: small;
  text-align: end;
}
